@model Project.DbManagement.ViewModels.ProductDetailsViewModel

@{
    ViewData["Title"] = @Model.Name;
}
<div class="d-flex flex-column p-1 h-100">
    <h4><b>@Model.Name</b></h4>
    <!--Chi tiết sản phẩm-->
    <div class="d-flex align-content-start flex-wrap w-100 mt-2" id="lstChiTietSP"
         style="height:570px;overflow-y:scroll">
    </div>
    <!--Lọc-->
    <button class="btn btn-outline-secondary mb-3" type="button" data-bs-toggle="collapse"
            data-bs-target="#productOptions">
        Tìm sản phẩm theo màu sắc và kích thước
    </button>
    <!-- Nội dung có thể thu gọn -->
    <div class="collapse" id="productOptions">
        <!--Màu sắc-->
        <div class="d-flex flex-row p-3" style="border: none; border-bottom: 2px dashed #ced4da;">
            <div class="d-flex align-items-center" style="width:140px">
                <h6 class="fw-bold">Màu sắc</h6>
            </div>
            <div class="flex-grow-1 align-content-start">
                <div id="buttons">
                    @foreach (var ms in @Model.lstColor)
                    {
                        <button class="button-value mb-1 btnms" value="@ms">
                            @ms
                        </button>
                    }
                </div>
            </div>
        </div>

        <!--Kích thước-->
        <div class="d-flex flex-row p-3">
            <div class="d-flex align-items-center" style="width:140px">
                <h6 class="fw-bold">Kích thước</h6>
            </div>
            <div class="flex-grow-1 align-content-start">
                <div id="buttons">
                    @foreach (var kc in @Model.lstSize)
                    {
                        <button class="button-value mb-1 btnkc" value="@kc">
                            @kc
                        </button>
                    }
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    $(document).ready(function () {
        FilterPL();
        var buttons = document.querySelectorAll(".button-value");
        buttons.forEach(function (button) {
            button.addEventListener("click", function () {
                if ($(this).hasClass("active")) {
                    $(this).removeClass("active");
                } else {
                    $(this).addClass("active");
                }
                FilterPL();
            });
        });
    });

    function getSelectedValues(elements) {
        const selectedValues = [];
        elements.forEach(function (element) {
            if (element.classList.contains('active')) {
                const value = element.value;
                selectedValues.push(value);
            }
        });
        return selectedValues;
    }

    function FilterPL() {
        let ms = document.querySelectorAll(".btnms");
        let lstms = getSelectedValues(ms);
        let kc = document.querySelectorAll(".btnkc");
        let lstkc = getSelectedValues(kc);
        let request = {ProductId: '@Model.Id', lstColor: lstms, lstSize: lstkc};
        console.log(request);
        $.ajax({
            url: "/SellOff/FilterProductDetails",
            type: "POST",
            dataType: "json",
            data: request,
            success: function (response) {
                $("#lstChiTietSP").empty();
                response.data.forEach(function (item) {
                    var html = `
                  <div class="d-flex flex-column p-2 border-0 rounded-3 mb-3 ctspitem" style="width:25%;height:250px;font-size:14px;margin-top: 25px;" onclick="addCTSP('${item.id}','${item.price}','${item.color}','${item.size}')">
                    <div class="flex-shrink-0 w-100" style="height:150px">
                      <img src="${item.image}" style="display: block; object-fit: cover;background-position: center; max-width: 100%;>
                    </div>
                    <div class="flex-shrink-0 mt-3 p-1">
                      <h6>${item.name}</h6>
                      <span class="badge bg-danger" style="color:#fff; font-weight:600">${item.color} - ${item.size}</span>
                      <span style="flex-basis: 49.5%;">Kho: ${item.quantity}</span><br>
                      <span>Giá:</span><span style="flex-basis: 59.5%;"><b style="color:red; font-weight:700">${item.price.toLocaleString()}</b></span>
                    </div>
                  </div>
                `;
                    $("#lstChiTietSP").append(html);
                });
            },
            error: function (err) {
                console.log('Error:', err);
            }
        });
    };

    function loadCTSPByID() {
        var modelId = '@Model.Id';
        $.ajax({
            url: "/SellOff/ListProductDetail/" + modelId,
            type: "GET",
            dataType: "json",
            success: function (response) {
                $("#lstChiTietSP").empty();
                response.data.forEach(function (item) {
                    var html = `
                  <div class="d-flex flex-column p-2 border-0 rounded-3 mb-3 ctspitem" style="width:25%;height:250px;font-size:14px;margin-top: 25px;" onclick="addCTSP('${item.id}','${item.price}','${item.color}','${item.size}')">
                    <div class="flex-shrink-0 w-100" style="height:150px">
                      <img src="${item.image}" style="display: block; object-fit: cover;background-position: center; max-width: 100%;>
                    </div>
                    <div class="flex-shrink-0 mt-3 p-1">
                      <h6>${item.name}</h6>
                      <span class="badge bg-danger" style="color:#fff; font-weight:600">${item.color} - ${item.size}</span>
                      <span style="flex-basis: 49.5%;">Kho: ${item.quantity}</span><br>
                      <span>Giá:</span><span style="flex-basis: 59.5%;"><b style="color:red; font-weight:700">${item.price.toLocaleString()}</b></span>
                    </div>
                  </div>
                `;
                    $("#lstChiTietSP").append(html);
                });
            },
            error: function (err) {
                console.log('Error:', err);
            }
        });
    }
</script>