@using Project.DbManagement.Entity;
@model ProductEntity

<div class="product__item sale">
    <div class="" data-setbg="@Model.ImageUrl" style="background-size: contain; background-repeat: no-repeat;">
        <div class="label">Giảm giá</div>
        <ul class="product__hover">
            <li><a href="@Model.ImageUrl" class="image-popup"><span class="arrow_expand"></span></a></li>
            @* <li><a href="#"><span class="icon_heart_alt"></span></a></li> *@
            @* <li><a href="#"><span class="icon_bag_alt"></span></a></li> *@
        </ul>
    </div>
    <div class="product__item__text">
        <h6><a href="#">@Model.Name</a></h6>

        @{
            decimal ConvertToDecimal(string priceStr)
            {
                decimal.TryParse(priceStr, out var result);
                return result;
            }

            var variants = Model.VariantObjs ?? new List<Variant>();

            var minPriceVariant = variants
            .OrderBy(v => ConvertToDecimal(v.Price))
            .FirstOrDefault();

            var maxPriceVariant = variants
            .OrderByDescending(v => ConvertToDecimal(v.Price))
            .FirstOrDefault();
        }
        <div style="font-size: 14px; color: #888;">
            Giá thấp nhất: @(minPriceVariant != null ? minPriceVariant.Price + "₫" : "Chưa có giá")<br />
            Giá cao nhất: @(maxPriceVariant != null ? maxPriceVariant.Price + "₫" : "Chưa có giá")
            
        </div>
        </div>
        </div>
